<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>WebComm</title>
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>

<body>
	<div>
		<h2>Register</h2>
		<input id="registerUsername" name="registerUsername" type="text" />
		<button id="register">Register</button>
	</div>
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/helpers.js"></script>
	<script src="/js/base64url-arraybuffer.js"></script>
	<script src="/js/fido2_webauthn.js"></script>
</body>

</html>